# Jira API configuration
JIRA_BASE_URL=https://jira.corp.appdynamics.com/
JIRA_USERNAME=darshan.hanumanthappa@appdynamics.com
JIRA_API_TOKEN=NzI5MDA4MTc4MzIwOsc5Uh/88RiTFB4QAliPui8pMlGX

# Server configuration
HTTP_PORT=3000 